body {
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    font-size: 125.5%;
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
    color: #FFFFFF;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    position: fixed;

    border-bottom: 1px solid #696969;
    background-color: #121212;
    z-index: 100;
}

.header-container {
    height: 50px;
    margin: 0 auto;
    width: 90%;

    display: flex;
}

.header-container a {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 125.5%;
    font-weight: 800;

    flex: 1;
    text-align: center;
    z-index: 100;

    transition: background-color 0.1s, color 0.1s;
}

.header-container a:hover {
    background-color: rgb(255, 127, 127);
    color: black;
    text-decoration: underline;
}

.header-container a:active {
    background-color: rgb(255, 147, 147);
}

a {
    color: #0084ff;
}

a:hover {
    color: #00bbff;
    text-decoration: none;
}

a:active {
    color: #00FFFF;
    text-decoration: none;
}